body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    background-color: #849d8f;
}

a {
    text-decoration: none;
}

input,
textarea {
    outline: none;
    font-family: "Roboto", Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    vertical-align: middle;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);    
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.6);
    border: none;
    border-radius: 20px;
}

.button:hover {
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
    box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
    background-image: linear-gradient(to bottom, #d84732, #e1613e);
    box-shadow: inset 0px 2px 2px 0 #942718;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Forms & Inputs */

::placeholder {
    color: #999999;
    font-weight: 400;
}
::-webkit-input-placeholder { /*Chrome*/
    color: #999999;
    font-weight: 400;
} 
::-moz-placeholder { /*Mozilla*/
    color: #999999;
} 
.input-field:-ms-input-placeholder { /*IE*/
    color: #999999;
    font-weight: 400;
} 

.input-field {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 700;
    color: #323232;
    
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.5);
    border-radius: 5px;
    border: none;
}

.input-field:hover {
    box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.5);
    border: none;
}

.input-field:focus {
    box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.5);
    border: none;
}

/* Site navigation */

.site-wrapper {
    min-width: 940px;
    padding-top: 6px;
}

.main-page .site-wrapper {
    background-image: url("../img/slider-img-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-page .site-wrapper::before,
.main-page .site-wrapper::after {
    content: "";
    visibility: hidden;
}

.main-page .site-wrapper::before {
    background-image: url("../img/slider-img-2.png");
}

.main-page .site-wrapper::after {
    background-image: url("../img/slider-img-3.png");
}

.wrapper {
    width: 1146px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.main-nav {
    display: flex;
}

.main-nav-logo {
    width: 154px;
    height: 64px;
    margin-right: 9px;
    margin-top: 2px;
}

.site-nav,
.subnav,
.user-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.site-nav-item {
    position: relative;
}

.site-nav-link {
    display: block;
    padding: 9px 13px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: underline rgba(255, 255, 255, 0.2);
}

.site-nav-link:hover,
.site-nav-item:hover .site-nav-link {
    background-color: #f7f6f3;
    color: #333333;
    border-radius: 20px;
    text-decoration: none;
}

.site-nav-link:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-nav-link-current {
    background-color: #d07058;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
}

.site-nav-link-current:hover {
    background-color: #d07058;
    color: #ffffff;
}

.site-nav-item:hover .subnav {
    display: block;
}

.subnav {
    width: 143px;
    position: absolute;
    top: 39px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: none;
    z-index: 2;
}

.subnav::before {
    position: absolute;
    display: block;
    bottom: 100%;
    width: 100%;
    content: "";
    height: 3px;
    background-color: transparent;
}

.subnav-link {
    display: block;
    padding: 9px 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
}

.subnav-link:hover,
.subnav-link:focus {
    background-color: #fbded7;
    color: #323232;
}

.subnav-link:active {
    background-color: #f6b5a5;
}

b .subnav-link {
    border-bottom: 1px solid #d3d3d2;
    font-weight: 700;
}

.subnav-link-current,
.subnav-link-current:hover,
.subnav-link-current:active {
    color: #ffffff; 
    background-color: #d07058;
}

.subnav-link-first:hover {
    border-radius: 5px 5px 0 0;
}

.subnav-link-last:hover {
    border-radius: 0 0 5px 5px;
}

/* User navigation */

.user-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-nav-item {
    position: relative;
    margin-left: 9px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.user-nav-item:hover {
    background-color: #f8f7f4;
}

.user-nav-link {
    display: block;
    position: relative;
    padding: 8px 17px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    font-weight: 500;
}

.user-nav-item:hover .user-nav-link {
    color: #323232;
}

.user-nav-search {
    margin-left: 0; 
}

.user-nav-search .user-nav-link {
    font-size: 0;
}

.user-nav-search svg {
    position: absolute;
    top: 8px;
    left: 8px;
    fill: #ffffff;
}

.user-nav-login .user-nav-link,
.user-nav-basket .user-nav-link {
    padding-left: 45px;
}

.user-nav-login svg,
.user-nav-basket svg {
    position: absolute;
    top: 6px;
    left: 16px;
    fill: #ffffff;
}

.user-nav-item:hover svg {
    fill: #000;
}

/* Modal windows */

.modal {
    display: none;
    position: absolute;
    top: 37px;
    right: 0;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.modal::before {
    position: absolute;
    display: block;
    bottom: 100%;
    width: 100%;
    content: "";
    height: 5px;
    background-color: transparent;
}

.modal:hover {
    display: block;
}

.user-nav-search:hover .modal-search,
.user-nav-login:hover .modal-login,
.user-nav-basket:hover .modal-basket {
    display: block;
}

.modal-search {
    width: 311px;
    padding: 20px 15px;
}

.modal-login {
    width: 243px;
    padding: 20px 17px;
}

.search-form .input-field,
.login-form .input-field {
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    padding: 9px;
}

.login-form .input-field {
    margin-bottom: 20px;
}

.login-form p {
    margin: 0;
}

.login-form-button {
    float: left;
    padding: 13px 25px;
}

.login-links a {
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
    color: #323232;
    text-decoration: underline rgba(50, 50, 50, 0.3);
    padding-left: 20px;
}

.login-links a:hover,
.login-links a:active {
    color: #e84d37;
    text-decoration: underline rgba(232, 77, 55, 0.3);
}

.modal-basket {
    width: 500px;
    padding: 20px;
    
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.basket-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.basket-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.button-remove {
    padding: 0;
    margin: 0;
    margin-right: 9px;
    width: 11px;
    height: 11px;
    font-size: 0;
    background-image: url(../img/cross-small.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f8f7f4;
    border: none;
    cursor: pointer;
}

.basket-item img {
    margin-left: 9px;
}

.basket-item .item-name {
    width: 215px;
    margin-left: 14px;
}

.basket-item .item-quantity,
.basket-item .item-summary {
    margin: 0 auto;
}

.basket-item .item-price {
    color: #999999;
}

.basket-summary {
    margin: 35px 0 15px 0;
    padding: 0;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
}

.basket-summary::before {
    content: "";
    position: absolute;
    top: -17px;
    right: 0;
    width: 510px;
    border-bottom: 1px solid #cacac7;
}

.submit-order {
    float: right;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.main-header-contacts {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #ffffff;
    font-weight: 700;
}

.main-header-contacts a {
    display: block;
    margin-top: 5px;
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
}

/* Main container */

.inner-page h1 {
    color: #ffffff;
    font-size: 35px;
    line-height: 14px;
    text-align: left;
    font-weight: 700;
}

/* Gallery slider */

.slider {
    position: relative;  
    padding-top: 275px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
}

.slider-item h3 {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    width: 700px;
    
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
}

.slide-button {
    padding: 12px 44px;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    border-radius: 50px;    
}

.slider-controls {
    position: absolute;
    bottom: 23px;
    left: 0;
    z-index: 2;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: #b3c2b8;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-img-1.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-img-2.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-img-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

/* Special offer */

.special-offer {
    display: flex;
    justify-content: space-between;
}

.free-offer {
    width: 524px;
    padding: 16px 18px 24px;
}

.free-offer h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
    font-size: 35px;
    line-height: 41px;
    text-align: left;
    color: #ffffff;
    font-weight: 700;
}

.free-offer p {
    margin-bottom: 43px;
    font-size: 17px;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    font-weight: 700;
}

.offer-button {
    float: right;
    padding: 11px 20px;
    font-size: 18px;
    line-height: 24px;
}

.free-offer-left {
    background-color: #ad004d;
    background-image: url(../img/offer-background-1.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.free-offer-right {
    background-color: #400000;
    background-image: url(../img/offer-background-2.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

/* Ice-cream catalog */

.catalog-wrapper {
    margin-bottom: 80px;
}

.best-selling-list,
.catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.best-selling-item,
.catalog-item {
    width: 267px;
    position: relative;
}

.catalog-item {
    margin-bottom: 39px;
}

.best-selling-item::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.svg");
    z-index: 3;
}

.best-selling-item:hover,
.catalog-item:hover {
    z-index: 4;
}

.best-selling-item:hover::after,
.catalog-item:hover::after {
    content: "";
    position: absolute;
    bottom: -70px;
    left: -13px;
    width: 293px;
    height: 405px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: -1;
}

.item-title {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    text-align: center;
}

.item-title a {
    color: #ffffff;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    text-decoration: underline rgba(255, 255, 255, 0.3);
}

.item-title a:hover,
.item-title a:active {
    color: #ffbc9e;
    text-decoration: underline rgba(255, 188, 158, 0.3);
}

.best-selling-item img,
.catalog-item img {
    border-radius: 50%;
}

.button-quick-preview {
    display: none;
    position: absolute;
    left: 40px;
    bottom: -55px;
    padding: 10px 15px;
}

.best-selling-item:hover .button-quick-preview,
.catalog-item:hover .button-quick-preview {
    display: block;
}
    
.price {
    position: absolute;
    top: 209px;
    font-size: 45px;
    line-height: 45px;
    text-align: left;
    font-weight: 700;
    color: #ffffff;
}

/* Gllacy advantages */

.advantages {
    padding: 20px 32px 25px 20px;
    width: 1094px;
    background-color: #ffd393;
    background-image: url(../img/waffel.jpg);
    border-radius: 10px;
    color: #323232;
    text-align: left;
}

.advantages h2 {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}

.advantages-list li {
    position: relative;
    width: 470px;
    padding-top: 21px;
    padding-left: 56px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.advantage-ice-cream::before,
.advantage-cow::before,
.advantage-eco::before,
.advantage-thermometer::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 49px;
    height: 49px;
}

.advantage-ice-cream::before {
    background-image: url("../img/ice-cream.svg");
}

.advantage-cow::before {
    background-image: url("../img/cow.svg");
}

.advantage-eco::before {
    background-image: url("../img/eco.svg");
}

.advantage-thermometer::before {
    background-image: url("../img/thermometer.svg");
}

/* Gllacy blog */

.blog-wrapper {
    display: flex;
    justify-content: space-between;
}

.blog {
    width: 520px;
    padding: 23px 20px 20px;
    background-color: #ffffff;
    background-image: url(../img/blog-background.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.blog h2 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    font-weight: 500;
    color: #323232;
}

.blog a {
    display: block;
    width: 300px;
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    font-weight: 700;
    color: #323232;
    text-decoration: underline #323232;
}

.blog a:hover,
.blog a:active {
    color: #e84d37;
    text-decoration: underline rgba(232, 77, 55, 0.3);
}


.subscription {
    width: 510px;
    padding: 35px 25px;
    background-color: #f8f7f4;
    background-image: url(../img/subscription-background.png);
    border-radius: 15px;
}

.subscription p {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    font-weight: 400;
    color: #5a5a5a;
}

.subscription-form {
    display: flex;
}

.subscription-form .input-field {
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    padding: 9px;
    margin-right: 15px;
}

.subscription-button {
    padding: 10px 20px;
}

/* Gllacy contacts */

.contacts {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    padding-top: 1px;
    margin-bottom: 0;
    background-color: #ffffff;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.contacts::before {
    position: absolute;
    content: "";
    background-image: url(../img/pin.svg);
    width: 80px;
    height: 140px;
    top: 139px;
    left: 266px;
}

.contacts-box {
    width: 248px;
    margin: 62px 27px;
    padding: 27px;
    padding-bottom: 32px;
    background-color: #ffffff;
    border-radius: 15px;
}

.contacts-box p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
    color: #323232;
}

.contacts .contacts-address,
.contacts .contacts-phone {
    margin-top: 3px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contacts .contacts-tel {
    margin-top: 17px;
}

.contacts .contacts-time {
    margin-top: 3px;
}

.button-contacts {
    margin-top: 25px;
    padding: 10px 32px;
}

/*Footer*/

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 0;
    padding: 28px;
}

/* Social buttons */

.social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-button {
    display: inline-block;
    margin-right: 11px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    opacity: 0.8;
    font-size: 0;
}

.social-button:not(:first-child) {
    margin-left: 11px;
}

.social-button:hover {
    opacity: 1;
}

.social-button:active {
    opacity: 0.4;
}

.social-button-twitter {
    background-image: url(../img/twitter.svg);
}
.social-button-instagram {
    background-image: url(../img/instagram.svg);
}
.social-button-facebook {
    background-image: url(../img/fb.svg);
}
.social-button-vk {
    background-image: url(../img/vk.svg);
}

/* Footer links */

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -14px;
}

.footer-link {
    width: 165px;
    margin-bottom: 3px;
}

.footer-link:nth-child(odd) a{
    padding-left: 23px;
}

.footer-links a {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline rgba(255, 255, 255, 0.2);
}

.footer-links a:hover,
.footer-links a:active {
    color: #ffbc9e;
    text-decoration: underline rgba(232, 77, 55, 0.2);
}

.footer-link-suppliers {
    position: relative;
}

.footer-link-suppliers::before {
    position: absolute;
    content: "";
    background-image: url(../img/heart.svg);
    width: 15px;
    height: 13px;
    top: 4px;
    left: -1px;
}

.footer-link-suppliers a {
    font-weight: 700;
}

.footer-copyright {
    margin: 0;
    margin-top: -8px;
    padding: 0;
}

.footer-copyright p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    font-weight: 400;
    color: #fefefe;
}

.footer-copyright img {
    margin-left: 2px;
}

.footer-copyright-link {
    color: #fefefe;
    text-decoration: underline rgba(255, 255, 255, 0.2);
}

.footer-copyright-link:hover,
.footer-copyright-link:active {
    color: #ffbc9e;
    text-decoration: underline rgba(232, 77, 55, 0.2);
}

/* Contact form */

.modal-contact-form {
    position: relative;
    width: 438px;
    padding: 20px;
    padding-bottom: 27px;
    margin: 0 auto;
    background-color: #f8f7f4;
    border-radius: 10px;
    z-index: 10;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.contact-form input {
    box-sizing: border-box;
    font-size: 14px;
    padding: 9px;
}

.contact-form textarea {
    width: 418px;
    height: 135px;
    padding: 10px;
    font-size: 14px;
}

.modal-contact-form h2 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    font-weight: 500;
    color: #323232;
}

.contact-form-button {
    width: 138px;
    padding: 9px 24px;
    align-self: flex-end;
}

.modal-close {
    position: absolute;
	top: 13px;
	right: 13px;
	border: none;
	width: 18px;
	height: 17px;
	color: #000000;
	font-size: 0;
	background-color: transparent;
	background-image: url('../img/cross-big.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

/* Breadcrumbs */

.breadcrumbs {
    position: absolute;
    top: 100px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    position: relative;
}

.breadcrumbs li:not(:last-child) {
    margin-right: 20px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "»";
    position: absolute;
    font-size: 12px;
    right: -15px;
}

.breadcrumbs li,
.breadcrumbs a {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.breadcrumbs a {
    text-decoration: underline rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
    color: #ffbc9e;
    text-decoration: underline rgba(255, 188, 158, 0.3);
}

.title-wrapper {
    margin-top: -25px;
    margin-bottom: 39px;
}

/* Filters */

.filter {
    display: flex;
    flex-wrap: wrap;
    width: 860px;
    justify-content: space-between;
    align-items: flex-end;
}

.filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.filter fieldset:last-of-type {
    margin-bottom: 0;
}

.filter legend {
    margin-left: 15px;
    margin-bottom: 6px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    font-weight: 500;
}

.filter-sorting select,
.filter-price-range .range-bar,
.filter-fat-content ul,
.filter-fillers ul {
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 20px;
}

.filter-sorting {
    width: 194px;
    margin-right: 14px;
    position: relative;
}

.filter-sorting select {
    width: 100%;
    height: 37px;
    color: #ffffff;
    padding-left: 15px;
    border: none;
    background-image: url("../img/icon-down-dir-white.svg");
    background-repeat: no-repeat;
    background-position: 168px 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.filter-sorting select:hover,
.filter-sorting select:active {
    color: #323232;
    background-image: url(../img/icon-down-dir-black.svg);
}

.filter-sorting select::-ms-expand {
    display: none;
}

.filter-sorting option {
    color: #000000;
}

.filter-price-range {
    width: 220px;
}

.range-bar {
    position: relative;
    background-color: rgba(248, 247, 244, 0.2);
    width: 220px;
    height: 37px;
}

.range-bar::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 20px;
    width: 176px;
    height: 4px;
    background-color: #f8f7f4;
    opacity: 0.5;
}

.range-bar::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 55px;
    width: 75px;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    content: "";
    position: absolute;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 7px solid #ffffff;
    background-color: #acacac;
}

.range-toggle-min {
    left: 35px;
}

.range-toggle-max {
    left: 130px;
}

.range-toggle:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.filter-fat-content {
    width: 415px;
    margin-left: auto;
}

.filter-fat-content ul,
.filter-fillers ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px 20px 8px 10px;
    list-style: none;
}

.filter-fillers ul {
    padding: 7px 24px 7px 18px;
}

.filter-fat-content label,
.filter-fillers label {
    position: relative;
    color: #ffffff;
    line-height: 18px;
    padding-left: 30px;
    cursor: pointer;
}

.filter-fat-content label::before {
    content: "";
    position: absolute;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    opacity: 0.8;
    cursor: pointer;
}

.filter-fat-content label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    z-index: 10;
    display: none;
}

.filter-fat-content label:hover::before {
    opacity: 1;
}

.filter-fat-content #radio-1:checked ~ label[for="radio-1"]::after,
.filter-fat-content #radio-2:checked ~ label[for="radio-2"]::after,
.filter-fat-content #radio-3:checked ~ label[for="radio-3"]::after,
.filter-fat-content #radio-4:checked ~ label[for="radio-4"]::after {
    display: inline-block;
}

.filter-fillers {
    width: 703px;
}

.filter-fillers label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    cursor: pointer;
}

.filter-fillers label::after {
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 20px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    z-index: 10;
    display: none;
}

.filter-fillers label:hover::before {
    opacity: 1;
}

.filter-fillers #checkbox-1:checked ~ label[for="checkbox-1"]::after,
.filter-fillers #checkbox-2:checked ~ label[for="checkbox-2"]::after,
.filter-fillers #checkbox-3:checked ~ label[for="checkbox-3"]::after,
.filter-fillers #checkbox-4:checked ~ label[for="checkbox-4"]::after,
.filter-fillers #checkbox-5:checked ~ label[for="checkbox-5"]::after{
    display: inline-block;
}

.filter .filter-submit {
    width: 144px;
    height: 37px;
    margin: 0;
    padding: 0;
    background-color: rgba(248, 247, 244, 0.2);
    text-shadow: none;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ffffff;
    background-image: none;
    font-weight: 500;
    line-height: 18px;
}

.filter .filter-submit:hover {
    background-color: #ffffff;
    color: #323232;
}

.filter .filter-submit:active {
    background-color: #ededed;
    box-shadow: inset 0px 2px 1px 0 #696969;
}

/* Paginator */

.pagination-wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item {
    margin: 2px 11px;
    position: relative;
}

.pagination-item:not(.pagination-item-current):not(.pagination-item-disabled):hover::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -8px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: -1;
}

.pagination-item-current::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -8px;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: -1;
}

.pagination-previous {
    margin-left: 0;
}

.pagination-next {
    margin-right: 0;
}

.pagination-item a {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
}

.pagination-item-current a,
.pagination-item a:active {
    color: #323232;
}

.pagination-previous svg,
.pagination-next svg {
    width: 8px;
    height: 12px;
}

.pagination-previous svg {
    transform: rotate(180deg);
}

.pagination-item-disabled svg{
    opacity: 0.2;
}

.pagination-item-disabled a:hover {
    cursor: default;
}